/* MovieItem.css */

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.movie-title {
  font-size: 1.1rem;
  margin: 8px 0;
  color: #333;
}

.movie-rating {
  font-size: 0.95rem;
  color: #666;
}


.movie-genre {
  font-size: 0.9rem;
  color: #555;
  margin: 6px 0;
  font-weight: 500;
}